<div class="container">
    <div class="row">
        <!-- carousel -->
        <div id="carouselExampleIndicators" class="carousel-slide col-sm-12 col-md-12 col-lg-6" data-ride="carousel">
            <div class="carousel-inner">
                <!-- carousel slides -->
                <div class="carousel-item active" *ngFor="let image of images; let index = index"
                    [class.active]="index == 0">
                    <img class="d-block w-100" [src]="image" alt="First slide">
                </div>
            </div>
            <ol class="carousel-indicators">
                <li *ngFor="let i of indexes; let index = index" data-target="#carouselExampleIndicators"
                    data-slide-to=i [class.active]="index == 0"></li>
            </ol>
            <div class="row p-0 desktop-gallery">
                <ul class="col-6 p-2" *ngFor="let image of images; let index = index">
                    <li>
                        <img class=" d-block w-100" [src]="image" alt="First slide">
                    </li>
                </ul>
            </div>
        </div>

        <div class="shoe-details col-sm-12 col-md-12 col-lg-6">
            <div class="product-name">{{shoe[0].name}}</div>
            <span class="reference">Reference: {{shoe[0].reference}}</span>
            <div class="price d-flex flex-row">
                <p class="full-price">{{shoe[0].price}},00€</p>
                <div class="price-discount align-self-start"> - {{shoe[0].discount}}%</div>
                <p class="discount-price">{{getDiscountedPrice()}},00€</p>
            </div>
            <div>
                <div class="d-flex flex-row justify-content-between">
                    <p class="text-uppercase size">Taille</p>
                    <ul class="d-flex flex-row">
                        <li *ngFor="let country of countries; let i=index" (click)="selectCountry(i)"
                            [ngClass]="{'active-country': selectedCountryIndex == i}" class="size-label-country">
                            {{country}}</li>
                    </ul>
                </div>
                <div>
                    <ul class="size-list d-flex flex-row justify-content-between">
                        <li *ngFor="let size of sizes; let i=index" (click)="selectSize(i)" class="size-label"
                            [ngClass]="{'active-size': selectedIndex == i}">{{size}}</li>
                    </ul>
                </div>
            </div>
            <button class="row" (click)="addToCart()">{{buttonLabel}}</button>
            <p class="underbutton-text">Cette Nike SB Dunk High Pro Black/Universety Gold apparient a la collection</p>
            <ul class="row">
                <li> <img class="icons" src="/assets/svgs/insurance-2.svg" alt="deliver-icon"> Livrason
                    gratuite en
                    France
                    metropolitaine</li>
                <li> <img class="icons" src="/assets/svgs/insurance-5.svg"> Expedition le jour meme jusqua a
                    13H</li>
                <li> <img class="icons" src="/assets/svgs/insurance-1.svg">Paiement 100% securise</li>
            </ul>
            <p class="row d-flex justify-content-center text-uppercase next-to-logo-text"> <img class="icons logo"
                    src="/assets/svgs/logo-nike.svg">Voir tous les produits Nike</p>
        </div>
    </div>
</div>