<div class="container">


    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button">
                        Shop
                    </button>
                    <img class="arrow-down" src="assets/svgs/nav-arrow-down.svg">
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" >
                        Sav
                    </button>
                    <img class="arrow-down" src="/assets/svgs/nav-arrow-down.svg">
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                        A propos
                    </button>
                    <img class="arrow-down" src="/assets/svgs/nav-arrow-down.svg">
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                </div>
            </div>
        </div>
    </div>
    <div class="footer-group">
        <h3>Sauvez-nous pour ne rien manquer! </h3>
        <p>Recievez toutes les infos sur les pochaines sorties, offres et actualites de la poutique Fenom</p>
        <div class="subscribe-container row m-auto">
        <input class="col-8" type="text" placeholder="Inscrivez votre email"> <button class=" col-4 subscribe-button text-uppercase">S'inscrire</button>
    </div>
    <div class="social-media-icons">
        <img src="assets/svgs/network-facebook.svg">
        <img src="assets/svgs/network-instagram.svg">
        <img src="assets/svgs/network-twitter.svg">
        </div>
        <img class="row logo-footer" src="assets/svgs/fenom-footer.svg">
    </div>
</div>