.header-container {
    display: flex;
    padding: 10px 0px 10px 0px;
}

.header-icon {
    width: 40px;
}

.logo-container {
    width: 100%;

}
.logo-header {
    margin-left: 15px;
    width: 50px;
    justify-content: center;
}

.logo-header img {
    max-width: 30%;
}

.icon-burger-close {
    position: absolute;
    top:15px;
    left:15px;
    width: 20px;
}

.burger-menu-container {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--light-grey);
    border-right: 1px solid var(--secondary-color);
    height: 100vh;
    width: 80%;
    z-index: 50;
    
}

// burger menu open -styles
.arrow-down {
    width: 25px;
}

.accordion {
    padding-top: 50px;
    background-color: var(--light-grey);
}

.btn-link {
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    
}

.card {
    border: 0px;
    border-top: 1px solid var(--primary-color);
    border-radius: 0px;
}

.card:last-child {
    border-bottom: 1px solid var(--primary-color);
}

h5 {
    display: flex;
    justify-content: space-between;
}

.card-header {
    background-color: var(--light-grey);
    cursor: pointer;
}

.card-body ul {
    text-transform: uppercase;
}

.card-body ul li:first-child {
    font-weight: bold;
}

.card-body li {
    font-size: var(--subtitle);
}

//input active styles

.active-search-bar {
    position: absolute;
    top: 10px;
    right:0px;
    left: 15px;
    width: 100%;
    height: 30px;
}

input {
    justify-content: center;
    width: 85%;
    height: 40px;
}

.icon-search-close {
    position: absolute;
    top: 13px;
    right: 55px;
    width: 15px;
    z-index: 200;
}

// hiden in mobile

    .menu-desktop-container, .menu-desktop-container li, .user-icon {
    display: none;
}

span {
    display: none;
}

.language-options {
    display: none;
}

// DESKTOP

@media (min-width: 992px) { 

    span {
        display: block;
        padding: 10px;
        background-color: var(--light-grey);
        width: 100%;
        text-align: center;
        color: var(--secondary-color);
    }

    .menu-desktop-container, .menu-desktop-container li, .user-icon {
        display: flex;
    }

    .menu-desktop-container ul li {
        text-transform: uppercase;
        margin: 20px 0px 0px 35px;
        font-weight: bold;
        font-size: 0.9em;
    }

    .burger-container, .burger-container img {
        display: none;
    }

    .main-menu li {
        cursor: pointer;
    }

    .submenu {
        position: absolute;
        top:50px;
        width: 200px;
        height: 200px;
        background-color: var(--light-grey);
        z-index: 1;
    }

    .submenu li {
        border-bottom: 1px solid var(--dark-gray);
    }

    .submenu ul li {
        margin: 0px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

    .submenu ul:hover {
        background-color: var(--primary-color);
        color: var(--white);
    }

    .sub-submenu {
        position: absolute;
        top:0px;
        left: 100%;
        width: 400px;
        height: 200px;
        background-color: var(--white);
        border: 1px solid var(--secondary-color);
    }

    .sub-submenu {
        border-left: 0px;
    }

    .sub-submenu ul li {
        color: var(--primary-color);
        background-color: var(--white);
    }

    .sub-sublink{
        border-bottom: 0px !important;
    }

    .arrow-icon {
        width: 15px;
        align-self: flex-end;
    }

    .active-search-bar {
        position: absolute;
        top:60px;
        left:155px;
        width: 90%;
    }

    .icon-search-close {
        position: absolute;
        top: 13px;
        right: 180px;
        width: 15px;
    }

    .language-options {
        display: flex;
        padding-right: 10px;
    }

    .language-options div {
        padding-left: 10px;
        cursor: pointer;
    }

    .active-language {
        text-decoration: underline;
        font-weight: bold;
    }
}