<div class="container">
    <h2 class="text-uppercase">Vous Aimerez aussi</h2>

    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides; trackBy" class="slide">
            <img class="slide-img" src="{{ slide.thumbImage }}" alt="" width="100%">
        </div>
    </ngx-slick-carousel>
    <div class="arrows-container row">
        <span class="tout-voir">Tout voir</span>
        <img class="prev arrow-icon" (click)="prev()" (click)="next()" src="assets/svgs/nav-arrow-left.svg" alt="">
        <img class="next arrow-icon" (click)="next()" src="assets/svgs/nav-arrow-right.svg" alt="">
    </div>
    <div class="gray-square-right">
    </div>
</div>