<div class="container">
    <h2 class="text-uppercase">Derniers articles consultes</h2>

    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides; trackBy" class="slide">
            <img class="slide-img" src="{{ slide.thumbImage }}" alt="" width="100%">
        </div>
    </ngx-slick-carousel>
    <div class="arrows-container row">
        <span class="tout-voir">Tout voir</span>
        <img class="prev arrow-icon" (click)="prev()" (click)="next()" src="assets/svgs/nav-arrow-left.svg" alt="">
        <img class="next arrow-icon" (click)="next()" src="assets/svgs/nav-arrow-right.svg" alt="">
    </div>

    <div class="gray-square-left">
    </div>

    <div class="row text-center">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <img class="icons" src="/assets/svgs/insurance-2.svg" alt="deliver-icon" >
            <h5>Livrason gratuite</h5>
            <p>Livrason gratuite en France metropolitaine </p>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <img class="icons" src="/assets/svgs/insurance-1.svg">
            <h5>Paiment securise</h5>
            <p>Paiement 100% securise, Visa, Mastercard, Paypal</p>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <img class="icons" src="/assets/svgs/insurance-4.svg">
            <h5>Service Client</h5>
            <p>Une question ? <br> Besoin de'un conseill ? <br >01 84 60 90 20 ou par mail .</p>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <img class="icons" src="/assets/svgs/insurance-3.svg">
            <h5>Retour</h5>
            <p>Vous benefciez de 15 jours pour changer d'avis</p>
        </div>
    </div>
</div>
