:root {
    --font_project: "Roboto", sans-serif;
    --font-bold: 'Work Sans', sans-serif;
    --primary-color: #000000; //primary
    --dark-gray:#494949;
    --secondary-color: #8f8f8f; //secondary, hoover, warning
    --light-grey: #f2f2f2;
    --white: #ffffff;
    --warning: #eb0000;
    // for size of the text
    --title: 23px;
    --shoe-name: 17px;
    --subtitle: 12px;
    --subsubtitle: 10px;

}
